.quiz-container{

    .title {
        font-size: 24px;
        font-weight: 600;
    }

    legend {
        font-size : 15px;
    }

    .list-detail {
        padding: 15px;
    }

    .add-new {
        .img-preview {
            border: 1px dashed #ccc; 
            height: 150px;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #ccc;
            
            img {
                max-height: 100%;
                max-width: 100%;
            }
    }
    
    .label-upload {
        display: flex;
        align-items: center;
        gap: 5px;
        width: fit-content;
        padding: 3px 10px;
        border-radius: 5px;
        background: #eeeeee;
        border: none;
        cursor: pointer;
        &:hover {
           background-color: #dcdcdc;
        }
    }
    }
}